<h1>{{type}} Request Received</h1>
{{#if query}}
<h3>Values in URL Query String</h3>
<ul>
  {{#each query}}
  <li>  {{@key}}: {{this}} </li>
{{/each}}
</ul>
{{/if}}
{{#if body}}
<h3>{{title}}<h3>
<ul>
  {{#each body}}
  <li> {{@key}}: {{this}} </li>
  {{#each this}}
    <ul>
	<li>{{@key}}: {{this}}</li>
	{{#each this}}
	<ul>
	  <li>{{@key}}: {{this}}</li>
	<ul>  
	{{/each}}
    </ul>
      {{/each}}
  {{/each}}
</ul>
{{/if}}
